@import "../../variables.scss";

.logo {
    max-width: 100%;
    width: auto;
    max-height: 56px;
    height: auto;

    &Container {
        margin: 16px;
        padding: 8px;
        background-color: $grayBlue;
        text-align: center;
        line-height: 32px;
        color: rgb(197, 197, 197);
        white-space: nowrap;
        overflow: hidden;
    }

    &Text {
        margin: 0;
        text-transform: uppercase;
    }
}

.siderContentWrapper {
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    padding-bottom: 75px; // This is for the Sider Footer.

    // Sider transitions
    width: 200px;
    transition: width 0.2s ease;
    &Collapsed {
        width: 80px;
    }
}

.siderFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: $grayBlue;
    padding: 8px;
    overflow-x: hidden;

    // Sider transitions
    width: 200px;
    transition: width 0.2s ease;
    &Collapsed {
        width: 80px;
    }

    &Username {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;
        margin-bottom: 8px;
    }

    &LogoutButton {
        i, span {
            color: white;
        }
        &:hover, &:active, &:focus {
            border-color: white !important;
        }
    }
}

.contentLayout {
    min-height: 100vh !important;
}

.header {
    background-color: white !important;
    padding: 0 25px !important;
}

.triggerButton {
    font-size: 18px;
    line-height: 60px !important;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: 4px;
    position: absolute;

    &:hover {
        color: $lightBlue;
    }
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 0 32px;
    display: inline;
}

.content {
    margin: 24px 16px 0;
    overflow: initial;
}

.innerContent {
    padding: 24px;
    background: white;
}
