@import "../../variables.scss";

.title {
    font-weight: 400;

    &Date {
        font-weight: 500;
    }
}

.departmentCard {
    margin: 4px !important;
}

.withoutDepartmentTitle {
    font-style: italic;
}

.studentCard {
    margin: 2px !important;
}

.studentCol {
    @media screen and (max-width: $breakpoint_sm) {
        text-align: center;
    }
}

.studentName {
    font-weight: bold;
}

.internshipDays {
    font-style: italic;
}

.actionButton {
    margin: 0 4px;
}
