@import "../../variables.scss";

.notClickableTag {
    pointer-events: none;
}

.calendarTag {
    height: 15px !important;
    vertical-align: middle;

    &Container {
        height: 15px;
        margin: 1px 0;
    }

    &Text {
        vertical-align: middle;
    }

    &Outline {
        background-color: transparent !important;
    }
}

.calendarCellContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-left: 15px;
}

.calendarPopoverDepartmentContainer {
    margin-bottom: 4px;
}

.calendarPopoverDepartment {
    @media screen and (max-width: $breakpoint_sm) {
        display: none;
    }
}

.calendarPopoverSpanLine {
    display: block;
}

.buttonsInCalendarComponent {
    z-index: 100;
    padding: 11px 16px;
    position: absolute;

    @media (max-width: $breakpoint_sm) {
        position: relative;
        text-align: right;
    }

    button {
        margin-left: 5px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.headerForUndefined {
    font-style: italic;
}

.unplannedStudentsList {
    margin-bottom: 8px !important;
}

.departmentNameColumn {
    display: flex;
}
