@import "../../variables.scss";

.notClickableTag {
    pointer-events: none;
}

.calendarTag {
    height: 15px !important;
    vertical-align: middle;

    &Container {
        height: 15px;
        margin: 1px 0;
    }

    &Text {
        vertical-align: middle;
    }

    &Outline {
        background-color: transparent !important;
    }
}

.buttonsInCalendarComponent {
    z-index: 100;
    padding: 11px 16px;
    position: absolute;

    @media (max-width: $breakpoint_sm) {
        position: relative;
        text-align: right;
    }

    button:first-of-type {
        margin-right: 5px;
    }
}

.selectedPlanningTitle {
    font-weight: 400;

    &Date {
        font-weight: 500;
    }
}
