@import "../../variables.scss";

.notClickableTag {
    pointer-events: none;
}

.buttonsInCalendarComponent {
    padding: 11px 16px;
    position: absolute;

    @media (max-width: $breakpoint_sm) {
        position: relative;
        text-align: right;
    }

    button:first-of-type {
        margin-right: 5px;
    }
}
