.logo {
    height: 32px;
    margin: 16px;

    // TODO: tijdelijk!
    background-color: rgba(255,255,255,.2);
    text-align: center;
    line-height: 32px;
    color: rgb(197, 197, 197);
}

.contentLayout {
    min-height: 100vh !important;
}

.header {
    background-color: white !important;
    padding: 0 25px !important;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.content {
    margin: 24px 16px 0;
    overflow: initial;
}

.innerContent {
    padding: 24px;
    background: white;
}

.logoutButton {
    &:hover, &:active, &:focus {
        // Do not use the primary color for the logout button.
        border-color: red !important;
        color: red !important;
    }
}
