@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
}

.ant-notification {
    margin-right: 15px; // Fix to center notifications on small screens.
}

.ant-table td {
    white-space: nowrap; // Fix for the responsive table scrollbars.
}

.ant-modal {
    margin: auto; // Fix to always center a modal.
}

.ant-fullcalendar-header > .ant-radio-group {
    display: none; // Fix to not show the month/year switch on the calendar component.
}
